<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>DesignPro</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    a
    {
    text-decoration: none;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        margin: 30px;
        gap: 40px;
        justify-content: center;
    }

    .auth-nav
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: black;
    }
</style>
<body>
<div class="page-content">
    <div class="nav-bar">
        <div class="site-nav">
            <p><a href="{% url 'index' %}">Главная</a></p>
        </div>
        <div class="auth-nav">
            {% if user.is_authenticated %}
                <p>Пользователь: {{ user.get_username }}</p>
                <p><a href="#">Личный кабинет</a></p>
                <p><a href="{% url 'logout' %}">Выйти</a></p>
            {% else %}
                <p><a href="{% url 'login' %}?next={{ request.path }}">Авторизация</a></p>
                <p><a href="{% url 'register' %}">Регистрация</a></p>
            {% endif %}
        </div>
    </div>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>